<div class="header">
    <div class="header-left"> 
        <a href="/admin" class="logo">
            <img src="/img/logo.png" alt="gastro" width="30" height="30">
        </a>
      
    </div>
    <a class="mobile_btn" id="mobile_btn" href="javascript:void(0);">
        <i class="fas fa-align-left"></i>
    </a>
    <div class="header-split">

        <!--
        <ul class="nav user-menu">
            <li class="nav-item float-start">
                <a href="/admin/settings"><i class="fa fa-store fs-6"></i>  Geschäftsstatus: <span class="badge-active"> Aktiv</span></a>
            </li>
        </ul>-->
        <ul></ul>
        <ul class="nav user-menu">
            
            <li class="nav-item dropdown has-arrow dropdown-heads ">
                <!--
                <a href="javascript:void(0);" data-bs-toggle="dropdown" style="position: relative;">
                    <i class="fe fe-bell"></i><span class="notif-count" style="position: absolute; background-color: #c10037; border-radius: 50%; padding:2px 6px; top: -5px; font-size: 12px; right: 0px; color: #fff;">1</span>
                </a>-->
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span class="notification-title" >Benachrichtigungen </span>
                    </div>
                    <div class="noti-content">
                        <ul class="notification-list">
                            <li class="notification-message">
                                <a href="/admin/application">
                                    <div class="media d-flex p-2" style=" margin-top: -1px;">
                                        <div class="media-body flex-grow-1 ">
                                            <p class="noti-details">
                                                <span class="noti-title">Neues Geschäft beantragt “”</span>
                                            </p>
                                            <p class="noti-time">
                                                <span class="notification-time"></span>
                                            </p>
                                            <a type="submit" class="btn btn-accept flex-grow-1" href="/admin/edit-application/">Details anzeigen</a>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="/admin/application">Alle wartenden Genehmigungen anzeigen</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a href="../../shop" class="viewsite" target="_blank"><i class="fe fe-globe me-2"></i>Shop ansehen</a>
            </li>    
            <li class="nav-item dropdown">
                <a href="javascript:void(0)" class="user-link  nav-link" data-bs-toggle="dropdown">
                    <span class="user-img">
                        <img class="rounded-circle" src="/admin/assets/img/logo.png" width="70" alt="gastro" style="object-fit: contain;">
                        <span class="animate-circle"></span>
                    </span>
                    <span class="user-content">
                        <span class="user-name">Gastro Koçak Handel</span>
                        <span class="user-details">Einstellungen</span>
                    </span>
                </a>
                <div class="dropdown-menu menu-drop-user">
                    <div class="profilemenu ">
                        <div class="subscription-menu">
                            <ul>
                                <li>
                                    <a href="/admin/settings">Einstellungen</a>
                                </li>
                            </ul>
                        </div>
                        <div class="subscription-logout">
                            <a href="/admin/logout">Ausloggen</a>
                        </div>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
</div>