<div class="offcanvas offcanvas-end canvas-search" id="canvasSearch">
    <div class="canvas-wrapper">
        <header class="tf-search-head">
            <div class="title fw-5">
                Produkte suchen
                <div class="close">
                    <span class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="Close"></span>
                </div>
            </div>
            <div class="tf-search-sticky">
                <form class="tf-mini-search-frm" method="get" action="/search">
                    <fieldset class="text">
                        <input type="text" placeholder="Suchen" class="" name="q" required="">
                    </fieldset>
                    <button class="" type="submit"><i class="icon-search"></i></button>
                </form>
                <form action="/listing-map" method="post">
                    <button class="btn btn-primary search-button" type="submit"><i class="feather-search"></i></button>
                    <input type="text" placeholder="Suchen" class="form-control" name="searchKey" >
               </form>
            </div>
        </header>
    </div>
</div>
